.list {
    list-style: none;
    padding: 0;
}

.review {
    background-color: rgb(88, 56, 177);
    border-radius: 15px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.author {
    font-size: 40px;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
}

.text {
    font-size: 15px;
    color: #fff;
}